*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.brick-item-m {
    height: 246px;
    padding: 34px 0 20px;
}
.brick-item {
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.brick-item-m .figure-img {
    width: 150px;
    height: 150px;
    margin: 0 auto 18px;
}