* {
    margin: 0;
    padding: 0;
}

#table thead tr th {
    height: 50px;
    width: 200px;
    text-align: center;
}
#box {
    width: 400px;
    height: 200px;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 10;
}

#title {
    height: 40px;
    background: #cccccc;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}

#content {
    height: 160px;
    text-align: center;
    line-height: 130px;
    font-size: 20px;
    background: palegreen;
}

#sure {
    position: absolute;
    left: 35%;
    bottom: 20px;
}
#negative{
    position: absolute;
    left: 60%;
    bottom: 20px;
}
#filter{
    background: rgba(0, 0, 0, .5);
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}